body
{
    background-color: white;
    color: black;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5em;
    font-size: large;
    max-width: 450px;
    margin: 0 auto;
    width: 90%;
}

.container
{
  border: 1px solid black;
}

canvas
{
    border-style: solid;
    border-width: thin;
    border-color: black;
    width:100%;
    height: 80%;
}

.title_area
{
  display: flex;
}
.title
{
  width: 100%;
  text-align: center;
}
h1
{
  font-size: 20px;
  text-align: center;
  vertical-align: sub;
}


/* Dropdown menu */
.drowpdown
{
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: white;
  color: white;
  border: none;
  width: 32px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}



/* Button configuration */
.button-group {
  display: flex;
  justify-content: space-between;
}
.button-group button {
  flex-grow: 1;
}
.button
{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition-duration: 0.4s;
    font-size: larger;
}
.button:hover {
    transform: scale(1, 1.3);
    transition: 0.4s;
  }
.button.active {
    transform: scale(1, 1.3);
}

/* Modal Display */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(94, 94, 94); /* Fallback color */
    background-color: rgba(94, 94, 94, 0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
.modal-content {
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }